// Theme ColorScheme palette: night/moon/storm
@import 'color-palette-default';

$colorscheme: 'default';

// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'peach';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 0.6;

// Blackness style
$blackness: 'true';

// Windows outline style
$outline: 'true';

// Windows button style : mac/normal
$window_button: 'mac';

// Gnome-Shell float panel version
$float: 'true';
